.navbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px; /* Adjust width as needed */
  background-color: #111; /* Dark background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-link:hover {
  color: #111;
  background-color: #fff;
  border-radius: 5px;
}

.active-link {
  color: #111;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
}