@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for smooth scrolling */
html {
  scroll-behavior: smooth;
}
body {
  background: red !important;
}
/* Ensure canvas is behind content */
canvas {
  pointer-events: none;
}
